$nav-color: hsla(206, 47%, 43%, 1);
$bg-color: hsla(206, 21%, 54%, 1);

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.panel-primary > .panel-heading {


    background-color: darken($nav-color, 30%);

}

.panel-primary {

	border-color: #122331;

}
