<div class="row row-centered">
    <div class="col-xs-12 col-md-9 col-centered">
        <h2 class="tab-padding text-center">AngularJS</h2>
        <p class="states"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas culpa cumque est officia, quibusdam fugiat. A explicabo aperiam, quidem tempore, quaerat quisquam optio saepe eligendi hic, veniam suscipit. Expedita, obcaecati.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptatibus nam, perspiciatis! Quo pariatur temporibus deserunt facere earum totam doloremque libero, aspernatur officiis saepe expedita, autem cupiditate ullam quis ea.
        </p>
    </div>
</div>