<div class="wide">
    <div class="col-xs-5 line">
        <hr>
    </div>
    <div class="col-xs-2 logo">Thomas Joseph Greco</div>
    <div class="col-xs-5 line">
        <hr>
    </div>
</div>
<div class="container">
    <br>
    <ul class="nav nav-tabs">
        <li><a ui-sref="home.welcome">Welcome to thomasgreco.me!</a>
        </li>
        <li><a ui-sref="home.bio">Areas of Focus</a>
        </li>
        <li><a ui-sref="home.angular">Utilizing my design background</a>
        </li>
    </ul>
    <br>
    <div ui-view></div>
    <br>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h2 class="text-left lead-heading">Passionate, Adaptable, and Proficient. </h2>
            <p class="lead lead-phrase">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis repudiandae debitis id earum veniam, suscipit repellat non ullam officia, consequatur recusandae molestias quae laboriosam provident cupiditate eligendi ea sapiente eveniet!
            </p>
        </div>
        <div class="col-md-4">
            <div id="twitter-feed"></div>
        </div>
    </div>
</div>