<div class="row picture-row">
    <div class="hidden-xs col-sm-6">
        <img src="images/best_buds.svg" class="img-rounded img-responsive gang">
    </div>
    <div class="col-sm-12 col-md-6">
        <h2 class="text-center">Welcome to my Web App!</h2>
        <p class="states">My name is Thomas Greco and I am a self taught web developer living in New York City. Currently, I am pursuing an opportunity in which I can play an integral role on a development team. I am a skilled AngularJS developer, and also possess a great detail of knowledge regarding responsive design, and hybrid applications. Additionally, I consider one of my main strengths to be my ability to solve any problem at hand. For example, I opted to write <a href="http://bit.ly/SitePointDataLibraries" target="_blank">this article</a> regardless of having any prior knowledge entail data visualization; and as a result of taking on this challenge, I produced the 2nd most popular article on SitePoint.com during the month of June. That said, I created this SPA to help showcase my knowledge and love for development, so take a look around to find out more!</p>
    </div>
</div>